.confirmation-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .confirmation-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
  }
  .h21{
    font-size: 16px;
    color: #ffffff;
  }
  .confirmation-page h3, .confirmation-page h4 {
    color: #333;
  }
  
  .booking-summary, .passenger-details {
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .passenger-card {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .passenger-card h4 {
    margin-bottom: 5px;
    color: #0033cc;
  }
  
  .confirmation-page p {
    margin: 5px 0;
  }
  
  .confirmation-page strong {
    color: #333;
  }
  
  .confirmation-page .home-button {
    padding: 10px 20px;
    background-color: #0033cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmation-page .home-button:hover {
    background-color: #000000;
  }