/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
} */
.container-center {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container-hotelnext-main {
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(27%,14%); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
}
.container-hotelnext {
  display: flex;
  width: 100%;
  min-width: 1200px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
  height: 600px;
}

.left-section {
  max-width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  align-content: center;
}

.imagehotel {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.right-section {
  width: 50%;
  padding: 20px;
  background-color: #fff;
}

.booking-form1 {
  display: flex;
  flex-direction: column;
}

.booking-form1 label {
  margin-top: 10px;
  font-weight: bold;
}

.booking-form1 input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.booking-form1 label,
.booking-form1 input {
  display: flex;
  flex-direction: column;
}
.booking-form1 button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.booking-form1 button:hover {
  background-color: #0056b3;
}
/* input[type="number"] {
  -webkit-appearance: spinner;
  -moz-appearance: spinner;
  appearance: spinner;
} */
.hotelheadingpayment {
  margin-bottom: 5px;
}
.totalpricecolor {
  color: rgb(0, 119, 255);
  font-size: 20px;
  font-weight: 900;
}
